#### Import Packages

In [1]:
import pandas as pd
import pickle

#### Read in all files

In [6]:
bus_attrib = pd.read_csv('/Users/jennifer/Desktop/Phan_Metis/Project 5/yelp-dataset/yelp_business_attributes.csv')
bus_hrs = pd.read_csv('/Users/jennifer/Desktop/Phan_Metis/Project 5/yelp-dataset/yelp_business_hours.csv')
bus = pd.read_csv('/Users/jennifer/Desktop/Phan_Metis/Project 5/yelp-dataset/yelp_business.csv')
chkin = pd.read_csv('/Users/jennifer/Desktop/Phan_Metis/Project 5/yelp-dataset/yelp_checkin.csv')

tip = pd.read_csv('/Users/jennifer/Desktop/Phan_Metis/Project 5/yelp-dataset/yelp_tip.csv')
user = pd.read_csv('/Users/jennifer/Desktop/Phan_Metis/Project 5/yelp-dataset/yelp_user.csv')

In [2]:
review = pd.read_csv('/Users/jennifer/Desktop/Phan_Metis/Project 5/yelp-dataset/yelp_review.csv')

#### Pickle the files

In [12]:
with open ('bus_attrib.pkl','wb') as picklefile:
    pickle.dump(bus_attrib,picklefile)
with open ('bus_hrs.pkl','wb') as picklefile:
    pickle.dump(bus_hrs,picklefile)
with open ('user.pkl','wb') as picklefile:
    pickle.dump(user,picklefile)
with open ('bus.pkl','wb') as picklefile:
    pickle.dump(bus,picklefile)
with open ('chkin.pkl','wb') as picklefile:
    pickle.dump(chkin,picklefile)
with open ('tip.pkl','wb') as picklefile:
    pickle.dump(tip,picklefile)

In [19]:
with open ('review.pkl','wb') as file:
    pickle.dump(review,file)

OSError: [Errno 22] Invalid argument

In [17]:
review.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

#### Open the pickle files

In [2]:
with open ('bus_attrib.pkl','rb') as picklefile:
    bus_attrib = pickle.load(picklefile)
with open ('bus_hrs.pkl','rb') as picklefile:
    bus_hrs = pickle.load(picklefile)
with open ('user.pkl','rb') as picklefile:
    user= pickle.load(picklefile)
with open ('tip.pkl','rb') as picklefile:
    tip = pickle.load(picklefile)
# with open ('review.pkl','rb') as picklefile:
#     review = pickle.load(picklefile)
with open ('bus.pkl','rb') as picklefile:
    bus = pickle.load(picklefile)
with open ('chkin.pkl','rb') as picklefile:
    chkin = pickle.load(picklefile)

5261668

In [30]:
review[review.user_id == 'JJ-aSuM4pCFPdkfoZ34q0Q']

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
110471,rCJcO4xS3kxjNTxpN8HPVA,JJ-aSuM4pCFPdkfoZ34q0Q,Z5BHNFjt7ZmAse2kKlw2uA,3,2013-10-29,Was in town to watch the Seahawks vs Panthers ...,0,0,0

## Collaborative Filtering

In [3]:
from surprise import Dataset, evaluate, Reader, dataset
from surprise import KNNBasic

In [ ]:
###Merge review with

In [48]:
review.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'date', 'text',
       'useful', 'funny', 'cool'],
      dtype='object')

In [4]:
#Create a dummy reader

reader = Reader(rating_scale=(1,5))

In [6]:
review_data = Dataset.load_from_df(review[['user_id','business_id','stars']][0:100000],reader)

In [67]:
review_data

In [7]:
trainSet = review_data.build_full_trainset()

In [21]:
trainSet.n_users  #Number of users
trainSet.n_items #Number of businesses

136032

In [13]:
review_data[0:5]

TypeError: 'DatasetAutoFolds' object is not subscriptable

In [8]:
sim_options = {
    'name': 'cosine',
    'user_based':False
}
knn = KNNBasic(sim_options=sim_options)

In [9]:
trainSet[0:5]

TypeError: 'Trainset' object is not subscriptable

In [10]:
knn.train(trainSet)

/Users/jennifer/anaconda3/lib/python3.6/site-packages/surprise/prediction_algorithms/algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

Computing the cosine similarity matrix...
Done computing similarity matrix.