In [ ]:
#Which customers are from the UK?
SELECT *
FROM Customers
WHERE Country = 'UK';

In [ ]:
# * What is the name of the customer who has the most orders?
SELECT 
	CustomerName, COUNT(*) as count
FROM
	Customers
JOIN 
	Orders
ON 
	Customers.CustomerID = Orders.CustomerID
GROUP BY 
	CustomerName
ORDER BY
	count DESC;

In [ ]:
#Which supplier has the highest average product price?
SELECT 
	SupplierName, AVG(Price) as avgprice
FROM
	Suppliers
JOIN
	Products
ON
	Suppliers.SupplierID = Products.SupplierID
GROUP BY
	SupplierName
ORDER BY
	avgprice DESC;
    "Aux joyeux eccl√©siastiques, 140.75"

In [ ]:
'''How many different countries are all the customers from? 
(*Hint:* consider [DISTINCT](http://www.w3schools.com/sql/sql_distinct.asp).)
'''
SELECT DISTINCT
	Country
FROM 
	Customers
    '21'

In [ ]:
'''What category appears in the most orders?'''
SELECT c.CategoryName, COUNT(o.OrderID) as ctorder
FROM Categories c
JOIN Products p ON c.CategoryID = p.CategoryID
JOIN OrderDetails o ON o.ProductID = p.ProductID
GROUP BY CategoryName
ORDER BY ctorder DESC;

In [ ]:
'''What was the total cost for each order?'''
SELECT o.ORDERID, SUM(p.Price) as TotalCost
FROM OrderDetails o
JOIN Products p ON o.ProductID = p.ProductID
GROUP BY o.OrderID
ORDER BY TotalCost;

In [ ]:
"""Which employee made the most sales (by total cost)?"""
SELECT e.EmployeeID, SUM(p.Price) as totalSales
FROM Employees e
JOIN Orders o ON e.EmployeeID = o.EmployeeID
JOIN OrderDetails od ON  o.OrderID = od.OrderID
JOIN Products p ON  od.ProductID = p.ProductID
GROUP BY e.EmployeeID
ORDER BY totalSales DESC;